<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gipsyz.panoramaglandroid">

    <application
        android:name=".GLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.tencent.qcloud.tim.login.LoginForDevActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <provider
            android:name=".utils.MyProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider2" />
        </provider> <!-- TIM start -->

        <activity
            android:name="com.tencent.qcloud.tim.chat.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.View" />

                <data
                    android:host="com.tencent.qcloud"
                    android:path="/detail"
                    android:scheme="pushscheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.qcloud.tim.menu.AddMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.qcloud.tim.contact.FriendProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.qcloud.tim.contact.NewFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.qcloud.tim.contact.BlackListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.qcloud.tim.contact.GroupListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.qcloud.tim.menu.StartC2CChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.qcloud.tim.profile.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.qcloud.tim.menu.StartGroupChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>
